# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.sqlite3

# Virtual environments
venv/
env/

# VS Code
.vscode/

# Jupyter notebooks checkpoints (if有)
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Data
data/*.csv
data/raw/*.csv
output/*.csv

stock_list.txt