# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.sqlite3

# Virtual environments
venv/
env/

# VS Code
.vscode/
.idea/

# Jupyter notebooks checkpoints (if有)
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Data
data/*.csv
data/back_history_csv
data/raw/*.csv
output/
data/*.db

# Backup
backup/

*.txt
zip_my_project.py
*.zip


# Temporary files