# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.sqlite3

# Virtual environments
venv/
env/





# VS Code
.vscode/
.idea/

# 加進 .gitignore 的例外清單 (讓settings.json被版控)
!.vscode/settings.json


# Jupyter notebooks checkpoints (if有)
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Data
data/*.csv
data/back_history_csv
data/raw/*.csv
output/
data/*.db
data/*.sql
data/futures_spread_cache.json
data/t2_settlement.json

.env
logs/
log/
src/fetch/data/institution.db

# Backup
backup/

*.txt
zip_my_project.py
*.zip
*.whl

# Temporary files